.bigBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    // width: 280px;
    box-sizing: border-box;

    .item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 435px;
    }

    .alert {
        margin-bottom: 22px;
    }
}

.button {
    display: flex;
    justify-content: space-start;
    // margin-top: 20px;
    font-size: 16px;

    .button2 {
        margin-left: 32px;
    }
}

.tip {
    margin-top: 10px;
    font-size: 12px;
}

.upload_list_img {
    list-style-type: none;
    margin-top: 10px;
    font-size: 12px;
    width: 280px;

    li {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 280px;
        height: 60px;
        margin-bottom: 10px;
        border: 1px solid #c2c0c0;
        border-radius: 3px;
    }

    .upload_img img {
        margin: 5px;
        width: 50px;
        height: 50px;
    }
}

.table {
    margin-top: 20px;
}

.fileName {
    margin-left: 3px;
}

.close {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

.bgcGray {
    background-color: #eee;
    border-radius: 1px;
}

.colBlue {
    color: rgb(64, 158, 255);
}
